<h2>Contact Form</h2>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

<label>Name</label><br>
<input type="text" formControlName="name">

<div *ngIf="contactForm.controls.name.invalid && contactForm.controls.name.touched">
Name is required.
</div>

<br><br>

<label>Email</label><br>
<input type="email" formControlName="email">

<div *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.touched">
Enter a valid email.
</div>

<br><br>

<label>Subject</label><br>
<input type="text" formControlName="subject">

<div *ngIf="contactForm.controls.subject.invalid && contactForm.controls.subject.touched">
Subject is required.
</div>

<br><br>

<label>Message</label><br>
<textarea rows="5" formControlName="message"></textarea>

<div *ngIf="contactForm.controls.message.invalid && contactForm.controls.message.touched">
Message should contain at least 10 characters.
</div>

<br><br>

<button type="submit" [disabled]="contactForm.invalid">
Submit
</button>

</form>