body {
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    text-align: center;
    padding: 50px;
}

.dashboard {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: white;
}

.search {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #444;
}

#result {
    background: white;
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
}